.container
  .contents
    .profilePage_user_account
      %p= @profile.account
    .back-btn
      = link_to root_path do
        = image_tag 'arrow.png'
    .profilePage_user_image
      .profilePage_user_image_ellipse
        = image_tag @user.avatar_image, id: 'profilePageImage'
      = form_with(model: @profile, id: 'profilePageForm', url: profile_path, method: 'put', local: true) do |f|
        = f.file_field :avatar, class: 'hidden'
    .profilePage_user_have
      .profilePage_user_have_item
        .count
          = @user.snap_count
        %p posts
      .profilePage_user_have_item
        .count
          = @user.snap_count
        %p followers
      .profilePage_user_have_item
        .count
          = @user.snap_count
        %p followings
    .profilePage_user_snap
      - @user.snaps.each do |image|
        = image_tag(image)

= javascript_pack_tag 'profile'