.container
  .contents
    .profilePage_user_account
      %p= @profile.account
    .back-btn
      = link_to root_path do
        = image_tag 'arrow.png'
    .profilePage_user_image
      .profilePage_user_image_ellipse
        = image_tag @user.avatar_image, id: 'profilePageImage'
      = form_with(model: @profile, id: 'profilePageForm', url: profile_path, method: 'put', local: true) do |f|
        = f.file_field :avatar, class: 'hidden'
    .profilePage_user_have
      .profilePage_user_have_item
        .count
          = @user.snap_count
        %p posts
      .profilePage_user_have_item
        .count
          = @user.snap_count
        %p followers
      .profilePage_user_have_item
        .count
          = @user.snap_count
        %p followings
    .snap_wrapper
      - count = 1
      - @snap.each do |image|
        - if count % 6 == 1 || count % 6 == 5
          .snap_wrapper_image{class: "image-large"}
            = image_tag(image)
        - else
          .snap_wrapper_image{class: "image-small"}
            = image_tag(image)
        - count += 1
    -# .profilePage_user_snap
    -#     = image_tag(image)

= javascript_pack_tag 'profile'