.container
  .contents
    .camera-btn
      = link_to new_snap_path do
        = image_tag 'photo-camera.png'
    - @snaps.each do |snap|
      .snap_card
        .snap_author
          .snap_author_image
            = link_to profile_path do
              = image_tag snap.user.avatar_image
          .snap_author_info
            .snap_author_info_name
              = snap.user.profile.account
            .snap_author_info_time
              = snap.time_difference
        .snap_wrapper
          - count = 1
          - snap.snaps.each do |image|
            - if count % 6 == 1 || count % 6 == 5
              .snap_wrapper_image{class: "image-large"}
                = image_tag(image)
            - else
              .snap_wrapper_image{class: "image-small"}
                = image_tag(image)
            - count += 1
        .snap_link
          .snap_link_icon
            - if current_user.has_liked?(snap)
              %div{class: "snap_link_heart#{snap.id}", id: "activeHeart", data: {snap_id: snap.id}}
                = image_tag 'active-heart.png'
              .hidden{class: "snap_link_heart#{snap.id}", id: "inactiveHeart", data: {snap_id: snap.id}}  
                = image_tag 'inactive-heart.png'
            - else
              %div{class: "snap_link_heart#{snap.id}", id: "inactiveHeart", data: {snap_id: snap.id}}
                = image_tag 'inactive-heart.png'
              .hidden{class: "snap_link_heart#{snap.id}", id: "activeHeart", data: {snap_id: snap.id}}  
                = image_tag 'active-heart.png'
          .snap_link_icon
            = image_tag 'comment.png'
          .snap_link_icon
            = link_to "https://twitter.com/share?url=#{request.url}", title: 'Twitter', target: '_blank' do
              = image_tag 'share.png'
        .snap_description
          = snap.description
        .snap_info
          .snap_info_item
            = snap.user.profile.account
          .snap_info_item
            = l snap.created_at, format: :short

= link_to 'sign-out', destroy_user_session_path, data: { method: 'delete' }
= javascript_pack_tag 'like'