.container
  %header
    .camerabtn
      = link_to new_snap_path do
        = image_tag 'photo-camera.png'
    .dropdown
      = image_tag current_user.avatar_image
      .dropdown_content
        = link_to 'プロフィール', profile_path
        = link_to 'ログアウト', destroy_user_session_path, data: { method: 'delete' }
  = render 'commons/snap_card', snaps: @snaps