.container
  %header
    .cancelbtn
      = link_to 'Cnacel', root_path
    %div
      %p Status
    #postBtn
      %p Post
  .snap_card
    .snap_author
      .snap_author_image_post
        = image_tag @snap.user.avatar_image
      .snap_author_name_post
        = @snap.author_name
    .snap_contents
      %ul
        - @snap.errors.full_messages.each do |message|
          %li= message
      = form_with(model: @snap, url: snaps_path, method: 'post', local: true) do |f|
        .form
          = f.text_field :description, class: 'form_description', placeholder: " What's on your mind ? "
        %div
          = f.file_field :snaps, multiple: true, class: 'hidden hidden_file'
        = f.submit '保存', class: 'hidden'
      %button#album ＋ Album
    .prev-contents

= javascript_pack_tag 'snap'